@import "../../style/mixin";

.collapses-wrap {
  margin:  120px 100px 0 100px;
  display: flex;
  flex-direction: column;
  @include mobile-breakpoint {
    margin: 160px 20px 250px 20px;
  }
  &__collapse {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 90%;
    margin-top: 33px;
  }
}
.aPropos-image {
  position: absolute;
  height: 223px;
  border-radius: 25px;
  width: 100%;
  object-fit: cover;
  filter: brightness(0.7);
  @include mobile-breakpoint {
    height: 223px;
    width: 90%;
    margin-top: 100px;
  }
}