@import "../../style/mixin";
@import "../../style/variables";


.card{
  display: flex;
  margin-top: 56px;
  &__wrap {
    display: flex;
    position: relative;
    align-items: flex-end;
  }
  &__cover {
    position: relative;
    width: 340px;
    height: 340px;
    border-radius: 10px;
    filter: brightness(0.7);
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, rgba(0, 0, 0, 0.50) 100%);
    @include mobile-breakpoint {
      width: 335px;
      height: 255px;
    }
  }
  &__title {
    width: 250px;
    padding-left: 20px;
    position: absolute;
    z-index: 1;
    color: white;
    font-family: $primaryFont;
    font-size: 18px;
  }
}