@import "src/style/variables";

.collapse {
  &__button{
    display: flex;
    background-color: $primaryColor;
    color: white;
    height: 47px;
    font-family: $primaryFont;
    font-size: 24px;
    justify-content: space-between;
    border-radius: 5px;
    border: none;
  }
  &__chevronHaut {
    padding: 10px;
  }
  &__chevronBas {
    padding: 5px;
  }
  &__description {
    background: #F6F6F6;
    color: $primaryColor;
    font-family: $primaryFont;
    font-size: 24px;
    font-weight: 400;
    line-height: 142.6%;
    padding: 30px 10px 10px 10px;
  }
}