@import "../../style/variables";
@import "../../style/mixin";

#logo {
  width: 210px;
  height: 68px;
  @include mobile-breakpoint {
    width: 145px;
    height: 47px;
  }
}
.header {
    margin: $margin;
    display: flex;
    justify-content: space-between;
  @include mobile-breakpoint {
    margin: 40px 20px 40px 20px;
  }
  &__nav {
    display: flex;
    justify-content: space-between;
  }
  &__link {
    color: $primaryColor;
    text-decoration: none;
    font-family: $primaryFont;
    font-size: 24px;
    font-weight: 500;
    align-self: center;
    padding: 20px;
    @include mobile-breakpoint {
      font-size: 12px;
      text-transform: uppercase;
      margin-right: 10px;
      padding: 0;
    }
  }
}
.active {
  text-decoration: underline;
}
