@import "../../style/variables";

.footer {
  background: black;
  &&__img {
    width: 122px;
    height: 40px;
  }
  &&__txt {
    color: white;
    text-align: center;
    font-family: $primaryFont;
    font-size: 24px;
    font-weight: 500;
  }
}