@import "style/variables";
@import "style/mixin";

body {
  max-width: 1650px;
  margin-right: auto;
  margin-left: auto;
  font-family: $primaryFont;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
